.director-close-button {
    width: fit-content;
    align-self: flex-end;
    margin: 0;
    padding: 0;
  }
  
  .director-dialog-title {
    margin: 0;
    padding-left: 1.25rem;
  }

  .director-dialog-content {
    margin-bottom: 40px;
  }