.navigation-bar{
    background-color: #9b53ff;;
    display: flex;
    flex-direction: row;
    justify-content:space-between;    
    padding: 15px;
}

h1{
    color: white;
    margin-right: calc(100%/4);
}

.menus {
    color: white;
}